/* Setting all margins and paddings to 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic Styling */

body {
    width: 70%;
    margin: 0 auto;
    font-size: 1.6rem;
}

.header-section-no-1 {
    text-align: center;
    margin-bottom: 2rem;
}

.settings-section-no-2 {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 2rem;
}

.main-visu-section-no-3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    height: 400px;

    margin-bottom: 2rem;
}

.quad {
    width: 100px;
    height: 30px;
    background-color: blue;
}

.footer-section-no-4 {
    text-align: center;
}

.btn-go {
    width: 5rem;
    background-color: blue;
    color: white;
    font-size: 1rem;
}
